setuptools
wheel
numpy
scipy
scikit-learn
pandas
matplotlib
seaborn
python-dotenv
requests
urllib3
chardet
aiohttp
asyncio-contextmanager
networkx
torch 
torchvision 
torchaudio
torch-scatter 
torch-sparse 
torch-cluster 
torch-spline-conv 
torch-geometric